version: "3"
networks:
  dokploy-network:
    external: true
services:
  verdaccio:
    image: verdaccio/verdaccio
    networks:
      - dokploy-network
    environment:
      VERDACCIO_PORT: ${VERDACCIO_PORT}
    restart: unless-stopped
    ports:
      - "${VERDACCIO_PORT}:${VERDACCIO_PORT}"
  postgres:
    image: postgres:16
    restart: unless-stopped
    networks:
      - dokploy-network
    command: postgres -c wal_level=logical
    volumes:
      - ../files/nocobase/db-reset:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
  adminer:
    image: nocobase/adminer
    restart: unless-stopped
    networks:
      - dokploy-network
    ports:
      - ${ADMINER_PORT}:8080
    volumes:
      - ./:/var/www/app
  nocobase:
    image: nocobase/nocobase:2.0.0-alpha.49-full
    depends_on:
      - postgres
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fkd-operacoes.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.fkd-operacoes.entrypoints=websecure"
      - "traefik.http.routers.fkd-operacoes.tls.certResolver=letsencrypt"
      - "traefik.http.services.fkd-operacoes.loadbalancer.server.port=80"
    restart: unless-stopped
    environment:
      - APP_KEY=${APP_KEY}
      - ENCRYPTION_FIELD_KEY=${ENCRYPTION_KEY}
      - DB_DIALECT=postgres
      - DB_HOST=postgres
      - DB_DATABASE=nocobase
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - TZ=America/Sao_Paulo
      - INIT_ROOT_EMAIL=${ADMIN_EMAIL}
      - INIT_ROOT_PASSWORD=${ADMIN_PASSWORD}
      - INIT_ROOT_NICKNAME=${ADMIN_NAME}
      - INIT_ROOT_USERNAME=${ADMIN_USERNAME}
    volumes:
      - ../files/nocobase/storage-reset:/app/nocobase/storage
      - ./public-reset:/app/nocobase/public
    ports:
      - 80
